services:
  # MySQL 服务
  geekai-mysql:
    image: registry.cn-shenzhen.aliyuncs.com/geekmaster/mysql:8.0.33
    container_name: geekai-agent-mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=mhSCk0NheGhmtsha
    ports:
      - '3308:3306'
    volumes:
      - ./conf/mysql/my.cnf:/etc/mysql/my.cnf
      - ./data/mysql/data:/var/lib/mysql
      - ./logs/mysql:/var/log/mysql
      - ./data/mysql/init.d:/docker-entrypoint-initdb.d/
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 5s
      timeout: 10s
      retries: 10

  # Redis 服务
  geekai-redis:
    image: registry.cn-shenzhen.aliyuncs.com/geekmaster/redis:6.0.6
    container_name: geekai-agent-redis
    command: redis-server --requirepass mhSCk0NheGhmtsha
    restart: always
    volumes:
      - ./data/redis:/data
    ports:
      - '6381:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 3s
      timeout: 10s
      retries: 5

  geek-agent-api:
    image: registry.cn-shenzhen.aliyuncs.com/geekmaster/geek-agent-api:v1.0.2-amd64
    container_name: geek-agent-api
    restart: always
    ports:
      - '6789:6789'
    depends_on:
      geekai-mysql:
        condition: service_healthy
      geekai-redis:
        condition: service_healthy
    volumes:
      - /usr/share/zoneinfo/Asia/Shanghai:/etc/localtime
      - ./conf/config.toml:/var/www/app/config.toml
      - ./logs:/var/www/app/logs
      - ./static:/var/www/app/static
    environment:
      - LOG_LEVEL=info
      - CONFIG_FILE=config.toml

    # 前端应用
  geek-agent-web:
    image: registry.cn-shenzhen.aliyuncs.com/geekmaster/geek-agent-web:v1.0.2-amd64
    container_name: geek-agent-web
    restart: always
    depends_on:
      - geek-agent-api
    ports:
      - "8081:8080"
    volumes:
      - ./logs/nginx:/var/log/nginx
      - ./conf/nginx/conf.d:/etc/nginx/conf.d
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
